<!DOCTYPE html>

<head>
	<%- include('partials/head') %>
</head>

<body class="g-sidenav-show">
	<%- include('partials/sidebar', { page: "commands" }) %>
	<div class="main-content" id="panel">
		<%- include('partials/navbar') %>
		<div class="container-fluid pt-3">
			<div class="row removable">
		</div>
		<%- include("partials/footer") %>
	</div>
	<%- include('partials/scripts') %>
</body>
