<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="g-sidenav-show">

    <%- include('partials/sidebar', { page: page }) %>

        <div class="main-content" id="panel">
            <%- include('partials/navbar') %>
                <%- include('partials/scripts') %>
                    <div class="container-fluid pt-3">
                        <div class="card mb-4">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column h-100">
                                            <h1>Privacy Policy for B33P0 Productions</h1>

                                            At B33P0 Productions, we value the privacy and safety of our users,
                                            especially children under the age of 13.<br> As such, we have implemented
                                            the following policy regarding the use of our website by individuals under
                                            the age of 13:
                                            <br>
                                            <h3>Age Restriction:</h3> Our website is intended for users who are 13 years
                                            of age or older. Individuals under the age of 13 are strictly prohibited
                                            from using our website.
                                            <br>
                                            <h3>Collection of Personal Information:</h3> We collect certain personal
                                            information from our users for analytical purposes, including Discord
                                            information and IP addresses. This information is used to improve our
                                            website and provide a better user experience.<br>However, we do not
                                            knowingly collect any personal information from individuals under the age of
                                            13.
                                            <br>
                                            <h3>Use of Personal Information:</h3> We use personal information collected
                                            from our users for analytical purposes only. We do not sell or share this
                                            information with third parties, except as required by law or to protect our
                                            legal rights.
                                            <br>
                                            <h3>Security:</h3> We take reasonable measures to protect the personal
                                            information collected from our users, including the use of secure servers
                                            and encryption technologies.
                                            <br>
                                            <h3> Websites:</h3> Our website may contain links to third-party websites.
                                            We are not responsible for the privacy practices or content of these
                                            websites. We encourage our users to review the privacy policies of these
                                            websites before providing any personal information.
                                            <br>
                                            <h3>Changes to Privacy Policy:</h3> We may update this privacy policy from
                                            time to time. Any changes to this policy will be posted on our website.
                                            <br><br>
                                            By accessing or using our website, you represent and warrant that you are at
                                            least 13 years of age. If you are under the age of 13, please do not use our
                                            website.
                                            <br><br>
                                            If you have any questions or concerns about this privacy policy or our
                                            practices regarding the collection and use of personal information, please
                                            contact us at keirabusiness.06@gmail.com.
                                            <br><br>
                                            Owner of B33P0 Productions:<br>
                                            Keira Hopkins
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                                        <div class="bg-gradient-primary border-radius-lg h-100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>